body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: "YuGothic", "游ゴシック", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "Meiryo", "メイリオ", sans-serif
  line-height: 1
  
*
  &, &:before, &:after
    box-sizing: border-box

body
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #000

.rows
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  flex-direction: column
  justify-content: space-between

.cols
  display: flex
  justify-content: space-between
  flex: 1

.item
  position: relative
  display: block
  flex: 1

.video
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  max-width: 100%
  max-height: 100%
  display: block
  margin: auto
